$primary-color: lavender;
$secondary-color: #5d0d93d1;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:$primary-color;
    color: $secondary-color;
    font-family: "Roboto", sans-serif;
  }
  
  .game-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .hanger {
    fill: transparent;
    stroke: $secondary-color;
    stroke-width: 4px;
    stroke-linecap: round;
  }
  
  .hanger-body{
    display: none;
  }
  
  .wrong-letter-container {
    font-size: 1rem;
  }
  
  .wrong-letter-container span {
    margin: 0 2px;
  }
  
  .secret-word-container {
    font-size: 45px;
  }
  
  .alert-repeated-word {
    background-color: $secondary-color;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -55px;
    transition: transform 0.3s ease-in-out;
  }
  
  .alert-repeated-word p {
    margin: 0;
  }
  
  .alert-repeated-word.show {
    transform: translateY(-50px);
  }
  
  .secret-word-container span {
    margin: 0 5px;
  }
  
  .popup-container {
    background-color: rgba(0, 0, 0, 0.849);
    color: #ffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background:$secondary-color;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .popup button {
    cursor: pointer;
    background-color: $primary-color;
    color: $secondary-color;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
  }
  